process {
    cpus = Runtime.runtime.availableProcessors().intdiv(4)
    conda = "${projectDir}/../envs/nanopore.yml"

    withLabel: ncbi_datasets {
        conda = "${projectDir}/../envs/ncbi_datasets.yml"
    }
    withLabel: prokka {
        conda = "/${projectDir}/../envs/prokka.yml"
    }
    withLabel: writer {
        conda = "/${projectDir}/../envs/writer.yml"
    }
}

conda {
    cacheDir = '/data/vaccitech/conda-nf'
}

timeline {
    enabled = true
    file = 'nf_report/timeline.html'
}

report {
    enabled = true
    file = 'nf_report/report.html'
}

dag {
    enabled = true
    file = 'nf_report/dag.html'
}